@font-face {
  font-family: 'Arita-dotum-Light';
  src: url('font/Arita4.0_L.ttf') format('truetype');
  src: url('font/Arita4.0_L.eot') format('embeddedopentype');
  src: url('font/Arita4.0_L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arita-dotum-Light';
  src: url('font/Montserrat-Light.ttf') format('truetype');
  /*src: url('font/Arita4.0_M.eot') format('embeddedopentype');
  src: url('font/Arita4.0_M.woff') format('woff');*/
  unicode-range: U+0030-0039;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('font/Arita4.0_M.ttf') format('truetype');
  src: url('font/Arita4.0_M.eot') format('embeddedopentype');
  src: url('font/Arita4.0_M.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('font/Montserrat-Light.ttf') format('truetype');
  /*src: url('font/Arita4.0_M.eot') format('embeddedopentype');
  src: url('font/Arita4.0_M.woff') format('woff');*/
  unicode-range: U+0030-0039;
  font-weight: normal;
  font-style: normal;
}

:root {
  --project-info-width: 8rem;
  --horizontal-bar-height: 10rem;
  --titlebar-icon-width: 5rem;
}
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;


}
.material-icons-outlined.md-32 {
  font-size: 3.6rem;
}
* {
  box-sizing: border-box; 
}
html, body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size:62.5%;
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.page-container {
  height:inherit;
}

/*------------------------------logoIcon-------------------------------------*/
.logo-style{
  position:absolute;
  left: 0;
  height: 5.3rem;
  margin: 2rem 2rem;
  filter: brightness(0);
  z-index:9998;
  cursor: pointer;
}
.sum-container{
  /*transform: translateX(-50%);*/
  left:7rem;
  top:0rem;
  display: flex;
  justify-content: center;
  position:absolute;
  margin: 2.8rem 2rem;
  z-index:9998;
}
.roads-sum-info, .trees-sum-info {
  margin-right: 0.6rem;
  color: white;
}
/*------------------------------info-container-------------------------------------*/
.info-container {
  display: flex;
  justify-content: flex-end;
  position:absolute;
  margin: 2rem 2rem;
  right:0;
  z-index:9998;
}
.info-style{
  font-family: 'Arita-dotum-Medium';
  display: flex;
  height: 5.3rem;
  align-items: center;
  padding: 0 2.4rem;

  font-size: 2.7rem;
  line-height: 4.1rem;

  text-align: center;
  justify-content: space-around;

  border-radius: 64px;
  border:solid 1px black;
  background-color:white;
  box-shadow: 0 0 0 0.3px black;

  margin:0;
}

.district-info {
  cursor: pointer;
  margin-right: 1.6rem;
  transform: rotate(-0.04deg);
}
.time-container {
  width: 21rem;
  cursor: pointer;
}
#yearInfo {
  display: inline-block;
}
#monthInfo {
  display: inline-block;
}
.time-items {
  cursor:pointer;
  padding:0;
}

/*------------------------------district-selectbox-------------------------------------*/
.district-selectbox {
  position: absolute;
  width:100rem;
  height: auto;
  z-index: 9999;

  transform: translate(-50%);
  left: 50%;
  top:30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/**********************search 스타일***************************/
.district-selectbox .search {
  display: flex;

  width:34rem;
  height: auto;
  margin-bottom: 5rem;
  border-radius: 64px;
  border:solid 1px black;

  background-color:rgba(255,255,255,0.2);
  /*box-shadow: 0 0 0 0.3px black;*/
  backdrop-filter: url(commonfilters.svg#filter);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 0 0.3px black;

}
.district-selectbox .search input{
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
  font-size: 3.6rem;
  line-height: 100%;
  text-align:left;
  
  width:100%;
  height:100%;
  padding: 1.6rem 0rem 1.6rem 3.2rem;

  border-style: none;

  background-color: transparent;
}
.district-selectbox .search .search-icon{
  padding: 1.6rem 2.6rem 1.6rem 0rem;
}

.district-selectbox .search input::placeholder{
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
  font-size: 3.6rem;
  line-height: 100%;
  color: rgba(0,0,0,0.4);
}
.district-selectbox .search input:-ms-input-placeholder{
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
  font-size: 3.6rem;
  line-height: 100%;
  color: rgba(0,0,0,0.4);
}
.district-selectbox .search input::-webkit-input-placeholder{
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
  font-size: 3.6rem;
  line-height: 100%;
  color: rgba(0,0,0,0.4);
}
.district-selectbox .search input:focus{
  outline:none;

}
/**********************options 스타일***************************/
.district-selectbox .options-container {
  display: flex;
  flex-wrap: wrap;

  width:100%;
  height: 100%;

  justify-content: left;
}

.district-selectbox .option {
  margin: 0.6rem;

  cursor: pointer;
  font-family: 'Arita-dotum-Medium';
  display: flex;
  height: 5.3rem;
  align-items: center;
  padding: 0 2.4rem;

  font-size: 2.7rem;
  line-height: 4.1rem;

  text-align: center;
  justify-content: space-around;
  color: black;
  border-radius: 64px;
  border:solid 1px black;
  background-color:white;
  box-shadow: 0 0 0 0.3px black;

  transform: rotate(-0.04deg);
}


.district-selectbox .option:hover {
  color:black;
  background-color:#fc0;
}
.now-selected{
  color: #fc0 !important;
  background-color:black !important;
  font-family: 'Arita-dotum-Medium' !important;
}
.district-selectbox label {
  cursor: pointer;
}
.district-selectbox .option .radio{
  display:none;
}

/*------------------------------project-info-------------------------------------*/
.project-info {
  width: 100%;
  height: inherit;
  position:relative;
  float:left;
  left:100%;
  background-color:white;
  z-index:9999;
  transition: left 0.5s;
}
.project-info--spread {
  left:0;
}
/**********************header, footer 스타일***************************/
.header {
  height: var(--horizontal-bar-height);
  width: 100%;
  top:0;
  /*border-bottom: solid 1px black;*/
  background-color: white;
  padding: 2rem ;
  padding-right: 1.2rem ;
  padding-left: 2.5rem ;

}
.footer {
  height: var(--horizontal-bar-height);
  width: 100%;
  bottom:0;
  /*border-top: solid 1px black;*/
  background-color: white;
  padding: 2rem;
  padding-left: 2.2rem ;
}


.banner-container {
  height:100%;
  width:100%;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}
.small-trees {
  display: flex;
  flex-direction: column;
  width: calc(var(--horizontal-bar-height) - 2rem);
  height: 100%;
  justify-content: center;
  align-items:center;
  padding: 0 0.5rem;
}
.small-tree-name {
  position: absolute;
  left:0%;
  transform: rotate(-0.04deg) translateX(-50%) !important;
  opacity: 0;
  visibility: hidden;
}


/**********************center 스타일***************************/
/*메인*/
.center {
  width: 100%;
  height: calc(100% - var(--horizontal-bar-height)*2);
  padding:0;
}

.project-explain{
  width:100%;
  height: 100%;
  float: left;
  position: relative;
}
/*.project-explain 내부*/
.explain-wrapper {
  /*background-color:blanchedalmond;*/
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:100%;
  position:absolute;
  padding:0 6rem;
/*-webkit-text-stroke: 0.2px;*/
}
.back-button-wrap {
  display: flex;
  align-items: center;

  position:absolute;
  bottom:0;
  margin:3.5rem 0;
  cursor: pointer;

}
.back-icon{
  font-family: 'Arita-dotum-Medium';
  display: flex;
  align-items: center;
  justify-content: center;

  border:solid 1px black;
  border-radius: 40px;
  padding: 1.2rem;
  height:5rem;
  width:5rem;

  background-color:#fc0;
  color: white;
  
  margin-right: 1rem;
}
.back-info{
  transform: rotate(-0.04deg);
  color: #fc0;
}
.part-wrapper{
  width:47.5%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /*background-color: tomato;*/
  padding:4rem 0;

}
.part-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.explain-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 6rem;
  /*height:100px;*/
  word-break: keep-all;
  /*background-color:tan;*/

}
.how-detail-container{
  display: flex;
  justify-content: space-between;
  margin-top:1rem;
  margin-bottom:2rem;

  /*background-color: tomato;*/
}
.how-detail{
  display: flex;
  flex-direction: column;
  width: 48%;

  /*background-color: teal;*/
}
.how-detail .detail-image-container{
  display: flex;
  justify-content: center;
  /*background-color: wheat;*/
  height: 15rem;
}
.info-image{
  object-fit: scale-down;
  max-width:100%;
}
.heading {
  font-family: 'Arita-dotum-Medium';
  font-size: 2rem;
  color: #929191;
  margin-bottom: 0rem;
}
#how-body{
  margin-top:0.4rem;
}
p {
  font-family: 'Arita-dotum-Medium';
  transform: rotate(-0.04deg);

  color: #000000;
  font-size:1.8rem;
  line-height: 150%;
  margin: 2.2rem 0;
}
.info-small-image {
  position: relative;
  bottom: -3px;
  padding: 0 0.5rem;
}

/*----------------------------info-bubble--------------------------------*/
.bubble-common-style{
  font-family: 'Arita-dotum-Medium';
  transform: rotate(-0.04deg);
  display: flex;
  align-items: center;
  justify-content: center;

  border:solid 1px black;
  border-radius: 40px;
  padding: 1.5rem;
  height:3.8rem;
  line-height: 100%;
  font-size: 1.8rem;
  white-space:nowrap;
  background-color: black;
}
.big-tree-name, .big-tree-number {
  color:#fc0;

  position: absolute;
  top:50%;
  left:50%;
  z-index:9998;

  opacity: 0;
}


/*------------------------------svg, canvas-------------------------------------*/

.flower {
  z-index:100;
  position:absolute;
  width: 50px;
  transform: translate(-50%,-50%);

}
.tree-container{
  display: flex;
  justify-content: center;
  position:absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  width: 300px;
}
.treeAll {
  margin: auto;
  stroke: #000;
  stroke-width: 0.12rem;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.tree01{fill:#fc0;}
.tree02{fill:#f60;}
.tree03{fill:#693;}
.tree04{fill:#f9c;}
.tree05{fill:#9ff;}
.tree05-inside{fill:#9ff;}
.tree05-outside{fill:#fff;}
.tree06{fill:#000;}
.tree06-color{fill:#963;}
.tree07 {fill:#cc3;}
.tree08{fill:#cf3;}
.tree09{fill:#f63;}
.tree09-color{fill:#f63;}
.tree10{fill:#9c3;}
.tree10-color1{fill:#390;}
.tree10-color2{fill:#9c3;}
.tree11{fill:#ff3;}
.tree11-color2{fill:#f60;}
.tree11-color3{fill:#fff;}
.tree12{fill:#f69;}
.tree13{fill:#5578ff;}
.tree13-color1{fill:#c93;}
.tree13-color2{fill:#5578ff;}
.tree14{fill:#6fc;}
.tree15{fill:#f96;}
.tree15-color1{fill:#f96;}
.tree16{fill:#fff;}
.tree16-color1,
.tree16-color2{fill:#fff;}
.tree16-color3{fill:#c36;}
.tree17{fill:#030;}
.tree18{fill:rgb(142, 142, 255);}
.tree18-color1{fill:#fff;}
.tree18-color2{fill:#66c;}
.tree19{fill:#fff;}


.hidden {
  display: none;
  /* opacity: 0; */
}

.show{
  opacity: 1;
  visibility: visible;
  transition: all .2s ease;
  /*transition: opacity .2s ease;
  transition: visibility .2s ease;
  transition: width .2s ease;*/
  /*transition: background .2s ease;*/

  transition-property: opacity, visibility, width, background;
}


canvas {
  z-index: -1;
  display: block;
  position:absolute;
  top:0;
  left:0;
}