@font-face {
  font-family: 'Arita-dotum-Light';
  src: url('font/Arita4.0_L.ttf') format('truetype');
  src: url('font/Arita4.0_L.eot') format('embeddedopentype');
  src: url('font/Arita4.0_L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arita-dotum-Light';
  src: url('font/Montserrat-Light.ttf') format('truetype');
  /*src: url('font/Arita4.0_M.eot') format('embeddedopentype');
  src: url('font/Arita4.0_M.woff') format('woff');*/
  unicode-range: U+0030-0039;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('font/Arita4.0_M.ttf') format('truetype');
  src: url('font/Arita4.0_M.eot') format('embeddedopentype');
  src: url('font/Arita4.0_M.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('font/Montserrat-Light.ttf') format('truetype');
  /*src: url('font/Arita4.0_M.eot') format('embeddedopentype');
  src: url('font/Arita4.0_M.woff') format('woff');*/
  unicode-range: U+0030-0039;
  font-weight: normal;
  font-style: normal;
}

:root {
  --sidebar-width: 8rem;
  --horizontal-bar-height: 8rem;
  --titlebar-icon-width: 5rem;
}
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;


}
.material-icons-outlined.md-32 {
  font-size: 3.6rem;
}
* {
  box-sizing: border-box; 
}
html, body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size:62.5%;
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.page-container {
  height:inherit;
  /* display:flex; */
}
.main {
  position: absolute;
  width:100%;
  height: inherit;
  padding:0;
  padding-left:var(--sidebar-width);
  z-index:9998;
}
.sidebar {
  width: 100%;
  height: inherit;
  position:relative;
  float:left;
  left:calc(-100% + var(--sidebar-width));
  background-color:white;
  z-index:9999;
  border-right:solid 1px black;
  transition: left 0.5s;
  /* margin: auto; */
}
.sidebar--spread {
  left:0;
  /* width: var(--sidebar-width); */
}

/*------------------------------sidebar 내부-------------------------------------*/

/**********************header, footer 스타일***************************/
.header {
  height: var(--horizontal-bar-height);
  width: 100%;
  top:0;
  border-bottom: solid 1px black;
  background-color: white;
  padding: 1rem ;
  padding-right: 1.2rem ;
  padding-left: 2.5rem ;

}
.footer {
  height: var(--horizontal-bar-height);
  width: 100%;
  bottom:0;
  border-top: solid 1px black;
  background-color: white;
  background-color: white;
  padding: 1rem;
  padding-left: 2.2rem ;
}


.banner-container {
  height:100%;
  width:100%;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}
.small-trees {
  display: flex;
  flex-direction: column;
  width: calc(var(--horizontal-bar-height) - 2rem);
  height: 100%;
  justify-content: center;
  align-items:center;
  /*border: solid 1px red;*/
}
.small-tree-name {
  font-weight:200;
  display: flex;
  align-items: center;
  justify-content: center;

  border:solid 1px black;
  border-radius: 40px;
  padding: 1.5rem;
  height:3.8rem;
  line-height: 100%;
  font-size: 1.8rem;
  white-space:nowrap;
  background-color: white;

  position: absolute;
  left:0%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}


/**********************center 스타일***************************/
/*메인*/
.center {
  width: 100%;
  height: calc(100% - var(--horizontal-bar-height)*2);
  padding:0;
}
.project-explain{
  width:calc((100% - var(--sidebar-width))*0.83);
  height: 100%;
  float: left;
  position: relative;
}
.district-selectbox {
  width:calc((100% - var(--sidebar-width))*0.17);
  height: 100%;
  float: left;
  border-left: solid 1px black;
}
/*.project-explain 내부*/
.explain-wrapper {
  /*background-color:blanchedalmond;*/
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:100%;
  position:absolute;
  padding:0 6rem;
/*-webkit-text-stroke: 0.2px;*/
}
.part-wrapper{
  width:47.5%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /*background-color: tomato;*/
  padding:5rem 0;

}
.part-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.explain-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 6rem;
  /*height:100px;*/
  word-break: keep-all;
  /*background-color:tan;*/

}
.how-detail-container{
  display: flex;
  justify-content: space-between;
  margin-top:1rem;
  margin-bottom:2rem;

  /*background-color: tomato;*/
}
.how-detail{
  display: flex;
  flex-direction: column;
  width: 48%;

  /*background-color: teal;*/
}
.how-detail .detail-image-container{
  display: flex;
  justify-content: center;
  /*background-color: wheat;*/
  height: 15rem;
}
.info-image{
  object-fit: scale-down;
  max-width:100%;
}
.heading {
  font-family: 'Arita-dotum-Light';
  font-size: 1.9rem;
  color: #929191;
  margin-bottom: 0rem;
}
#how-body{
  margin-top:0.4rem;
}
p {

  font-family: 'Arita-dotum-Light';
  color: #000000;
  font-size:1.7rem;
  line-height: 150%;
  margin: 2.4rem 0;
}
.info-small-image {
  position: relative;
  bottom: -3px;
  padding: 0 0.5rem;
}
/*.district-selectbox 내부*/
.district-selectbox .options-container {
  width:100%;
  height: 100%;
  overflow-y: scroll;
  text-align: center;
}
.district-selectbox .options-container::-webkit-scrollbar {
  width: 0.5rem;
  /* background-color: rgb(248, 248, 255); */
  border-left: solid 1px black;
}
.district-selectbox .options-container::-webkit-scrollbar-thumb {
  background-color: black;
  /* border-radius: 8px; */
}
.district-selectbox .option {
  font-size: 4rem;
  padding: 3rem 0;
  cursor: pointer;
}
.district-selectbox .search input{
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  text-align:center;
  
  width:100%;
  height:100%;
  padding: 3rem 0;
  border-style: none;
}
.district-selectbox .search input::placeholder{
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  color: rgba(0,0,0,0.3);
}
.district-selectbox .search input:-ms-input-placeholder{
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  color: rgba(0,0,0,0.3);
}
.district-selectbox .search input::-webkit-input-placeholder{
  font-family: 'Arita-dotum-Light';
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  color: rgba(0,0,0,0.3);
}
.district-selectbox .search input:focus{
  outline:none;
  background-color: rgb(248, 248, 255);

}
.district-selectbox .option{
  border-top: solid 1px black;
}
.district-selectbox .option:hover {
  background-color: rgb(248, 248, 255);

}
.district-selectbox label {
  cursor: pointer;
  width:150px;
}
.district-selectbox .option .radio{
  display:none;
  /* height:30px;
  width:30px; */

}

.titlebar {
  width: var(--sidebar-width);
  height: 100%;
  float: right;
  border-left: solid 1px black;
}
.titlebar__project-title{
  position: absolute;
  transform: rotate(-90deg) translate(-50%,100%);
  transform-origin: center left;
  width: 13rem;
  margin-left: 1.6rem;
  margin-top:6.3rem;
  font-family: 'Arita-dotum-Light';
  font-size: 2.4rem;
  /*color: #929191;*/
}
.titlebar__icon-container{
  position: relative;
  transform: translateY(-50%);
  top:50%; 
  width: var(--titlebar-icon-width);
  height: var(--titlebar-icon-width);
  display: flex;
  align-items: center;
  justify-content:center;
  flex-shrink:0;
  margin:auto;
}
.forward-arrow {
  transform-origin: center;
  padding-left: 0.8rem;
  transition: transform 0.3s;
  cursor: pointer;
}
.forward-arrow.forward-arrow-rotation {
  transform: rotateY(180deg);
}
/*----------------------------info-bubble--------------------------------*/
.info-bubble {
  /*opacity: 0;
  visibility: hidden;*/
  
}
.big-tree-name {
  font-weight:200;
  display: flex;
  align-items: center;
  justify-content: center;

  border:solid 1px black;
  border-radius: 40px;
  padding: 1.5rem;
  height:3.8rem;
  line-height: 100%;
  font-size: 1.8rem;
  color:#fc0;
  white-space:nowrap;
  background-color: black;

  position: absolute;
  top:50%;
  left:50%;
  /*transform: translateX(-50%);*/
  z-index:9998;

  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
  transition-property: opacity, visibility, width, background;
}
.big-tree-number {
  font-weight:200;
  display: flex;
  align-items: center;
  justify-content: center;

  border:solid 1px black;
  border-radius: 40px;
  padding: 1.5rem;
  height:3.8rem;
  line-height: 100%;
  font-size: 1.8rem;
  color:#fc0;
  white-space:nowrap;
  background-color: black;

  position: absolute;
  top:50%;
  left:50%;
  /*transform: translateX(-50%);*/
  z-index:9998;

  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
  transition-property: opacity, visibility, width, background;
}
/*------------------------------info-------------------------------------*/

.info-container {
  display: flex;
  justify-content: flex-end;
  z-index:9998;
  position:absolute;
  margin: 2rem 2rem;
  right:0;
}
.info-style{
  font-family: 'Arita-dotum-Medium';
  display: flex;
  height: 6.4rem;
  align-items: center;
  padding: 0 2.8rem;

  font-size: 2.9rem;
  line-height: 4.1rem;

  text-align: center;
  justify-content: center;

  border-radius: 6.4rem;
  border:solid 1px black;
  background-color:white;
  box-shadow: 0 0 0 0.3px black;

  margin:0;
}
.district-info {
  margin-right: 3rem;
  transform: rotate(-0.04deg);
}
.time-container .time {
  text-align: left;
  width: 18rem;
  /*margin-right: 0.5rem;*/
}

#yearInfo {
  display: inline-block;
  width: 10.5rem;
}
#monthInfo {
  display: inline-block;
  width: 6rem;
}


.time-items {
  cursor:pointer;
  padding:0;
}

#playPause{
  margin-right: 2rem;
  display: none;
}
#update {
  width: 3rem;
  margin-left:-0.2rem;
}


/*------------------------------svg, canvas-------------------------------------*/

.flower {
  z-index:100;
  position:absolute;
  width: 50px;
  transform: translate(-50%,-50%);

}
.tree-container{
  display: flex;
  justify-content: center;
  position:absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  width: 300px;
}
.treeAll {
  margin: auto;
  stroke: #000;
  stroke-width: 0.12rem;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.tree01{fill:#fc0;}
.tree02{fill:#f60;}
.tree03{fill:#693;}
.tree04{fill:#f9c;}
.tree05{fill:#9ff;}
.tree05-inside{fill:#9ff;}
.tree05-outside{fill:#fff;}
.tree06{fill:#000;}
.tree06-color{fill:#963;}
.tree07 {fill:#cc3;}
.tree08{fill:#cf3;}
.tree09{fill:#f63;}
.tree09-color{fill:#f63;}
.tree10{fill:#9c3;}
.tree10-color1{fill:#390;}
.tree10-color2{fill:#9c3;}
.tree11{fill:#ff3;}
.tree11-color2{fill:#f60;}
.tree11-color3{fill:#fff;}
.tree12{fill:#f69;}
.tree13{fill:#5578ff;}
.tree13-color1{fill:#c93;}
.tree13-color2{fill:#5578ff;}
.tree14{fill:#6fc;}
.tree15{fill:#f96;}
.tree15-color1{fill:#f96;}
.tree16{fill:#fff;}
.tree16-color1,
.tree16-color2{fill:#fff;}
.tree16-color3{fill:#c36;}
.tree17{fill:#030;}
.tree18{fill:rgb(142, 142, 255);}
.tree18-color1{fill:#fff;}
.tree18-color2{fill:#66c;}
.tree19{fill:#fff;}


.hidden {
  display: none;
  /* opacity: 0; */
}

.show{
  opacity: 1;
  visibility: visible;
  transition: all .2s ease;
  transition-property: opacity, visibility, width, background;
}


canvas {
  z-index: -1;
  display: block;
  position:absolute;
  top:0;
  left:0;
}